.SidebarItemWrapper .title {
  color: white;
  margin: 0;
}

.SidebarItemWrapper .value {
  color: #5893e0;
  margin: 0;
}

.SidebarItemWrapper .key {
  color: #f4cf6f;
  margin: 0;
}

.SidebarItemWrapper .json-wrapper {
  color: #5893e0;
  cursor: pointer;
  overflow: hidden;
}

.SidebarItemWrapper .json {
  color: white;
  cursor: pointer;
  width: 90%;
  padding: 0 5%;
  overflow: hidden;
  text-overflow: ellipsis;
}
