.Share-file-uploading {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.Share-file-uploading:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgb(17, 69, 90);
  border-color: rgb(17, 69, 90) transparent rgb(17, 69, 90) transparent;
  animation: Share-file-uploading 1.2s linear infinite;
}
@keyframes Share-file-uploading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}