@import '../../styles/colors.css';
@import '../../styles/text.css';

.selected {
  cursor: auto !important;
}

.button {
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 1rem;
  font-family: var(--fontPrimary);
  font-weight: bold;
  margin: 12px;
  padding: 13px 24px 11px 24px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}
.button:disabled {
  pointer-events: none;
}
.button:hover,
.button:focus {
  box-shadow: 0 1px 4px 1px var(--blueShadow);
  outline: none;
}
.button:active {
  box-shadow: 0 1px 4px 1px var(--slateShadow);
  color: var(--blueDarkest);
}

.mainButton {
  color: var(--white);
  background-color: var(--blueDarker);
  border-color: var(--blueDarker);
}
.mainButton:disabled {
  background-color: var(--slateLighter);
  border-color: var(--slateLighter);
}
.mainButton:hover,
.mainButton:focus {
  background-color: var(--blueDarkest);
  border-color: var(--blueDarkest);
}
.mainButton:active {
  color: var(--white);
  background-color: var(--slatePrimary);
  border-color: var(--slatePrimary);
}

.destructiveButton {
  background: var(--redDarker);
  border-color: var(--redDarker);
  color: var(--white);
}
.destructiveButton:disabled {
  background: var(--slateLighter);
  border-color: var(--slateLighter);
  box-shadow: none;
}
.destructiveButton:hover,
.destructiveButton:focus {
  background: var(--slateDarker);
  border-color: var(--slateDarker);
  box-shadow: 0 1px 4px 1px var(--slateShadow);
}
.destructiveButton:active {
  background-color: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.alternateButton {
  color: var(--blueDarker);
  background-color: var(--white);
  border-color: var(--slateDarker);
}

.alternateButton:hover,
.alternateButton:focus {
  color: var(--blueDarkest);
  background-color: var(--white);
  border-color: var(--blueDarkest);
}

.alternateButton:active {
  color: var(--white);
  background-color: var(--slatePrimary);
  border-color: var(--slatePrimary);
}
.alternateButton:disabled {
  box-shadow: none;
  background-color: var(--slateLighter);
  border-color: var(--slateLighter);
  color: var(--white);
}

.submitButton {
  margin-top: 0;
  font-size: 1.6rem;
}

.submitButton:disabled {
  cursor: default;
  background-color: var(--slateLighter);
  border-color: var(--slateLighter);
  color: var(--white);
}

.link {
  display: inline-block;
  color: var(--blueDarker);
  text-decoration: underline;
  background: none;
  padding: 9px 18px;
  font-weight: normal;
}
.link:disabled {
  background: none;
  border: none;
  color: var(--slateLighter);
}
.link:focus,
.link:hover {
  color: var(--blueDarkest);
}
.link:active {
  background-color: var(--slateLightest);
  border-color: transparent;
  color: var(--blueDarkest);
}

.link.light {
  color: var(--blueLighter);
}
.link.light:disabled {
}
.link.light:focus,
.link.light:hover {
  color: var(--blueLightest);
  border-color: var(--blueLightest);
}
.link.light:active {
  background: none;
  border-color: var(--white);
  color: var(--white);
}
.link.light:active {
  background: var(--white);
  border-color: var(--white);
  color: var(--blueDarkest);
}

.small {
  font: var(--fSizeSmall) / var(--lhSmall) var(--fontPrimary);
  margin: 0 0 0 6px;
  padding: 9px 12px;
}

.verySmall {
  font: var(--fSizeSmall) / var(--lhSmall) var(--fontPrimary);
  padding: 2px 12px;
}

.fullWidth {
  width: 100%;
}
