.ShareSelect-button {
  font-family: 'Raleway';
  background: white;
  padding: 0 8px 0 32px;
  border: 1px solid #515864;
  border-radius: 4px;
  font-size: 15px;
  display: flex;
  min-width: 206px;
  min-height: 48px;
  align-items: center;
  margin: 24px auto;
  color: #515864;
}

.ShareSelect-button:hover {
  background: #EEE;
  cursor: pointer;
}
.ShareSelect-button:focus {
  background: #FFE;
}

.ShareSelect-ico {
  width: 32px;
  height: 32px;
}

.ShareSelect-title {
  margin: 10px; 
}

.ShareSelect-blue {
  color: blue;
  font-weight: bolder;
}

.ShareSelect-red {
  color: red;
  font-weight: bold;
}

