.ShareSelect-button {
  font-family: var(--fontSecondary);
  background: var(--white);
  padding: 0 8px 0 32px;
  border: 1px solid var(--slateDarker);
  border-radius: 3px;
  font-size: 15px;
  display: flex;
  min-width: 206px;
  min-height: 48px;
  align-items: center;
  margin: 8px auto;
  color: var(--slateDarker);
  cursor: pointer;
}

.ShareSelect-button:disabled {
  background-color: #cccccc;
  border: 0;
  color: #666666;
  filter: grayscale(100%);
}

.ShareSelect-button:hover,
.ShareSelect-button:focus {
  box-shadow: 0 1px 4px 1px var(--blueShadow);
  outline: none;
}
.ShareSelect-button:active {
  box-shadow: 0 1px 4px 1px var(--slateShadow);
  background-color: var(--slateDarker);
  color: var(--white);
}
.ShareSelect-button:disabled {
  box-shadow: none;
  background-color: var(--slateLighter);
  border-color: var(--slateLighter);
  color: var(--white);
}

.ShareSelect-ico {
  width: 32px;
  height: 32px;
}

.ShareSelect-button-text {
  font-family: var(--fontPrimary);
  font-size: 16px;
  margin: 12px;
}

.Share-title {
  color: #2d323b;
  font-family: var(--fontSecondary);
  margin: 0;
  font-size: 16px;
  margin-bottom: 24px;
  width: 85%;
}

.Share-container {
  display: flex;
  flex-direction: column;
  width: 296px;
  font-family: var(--fontPrimary);
  font-size: 13px;
}

.Share-container a {
  color: var(--blueDarker);
}

.Share-recipient {
  list-style-position: inside;
  white-space: nowrap;
  margin-left: -32px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Share-center {
  align-self: center;
}

.Share-Fail-explain {
  color: var(--redDarker);
}
