.sidebarWrapper {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 100%;
  font-family: 'Open Sans';
}

.sidebarContainer {
  flex: 1;
  position: relative;
}

.auditEvents {
  height: 30%;
  display: flex;
  flex-direction: column;
}

.sdkEvents {
  height: 70%;
  display: flex;
  flex-direction: column;
}
