.SidebarItemWrapper {
  border-top: 1px solid var(--slatePrimary);
  padding: 15px 20px;
  background-color: var(--slateDarkest);
}

.SidebarItemWrapper .title {
  font-family: var(--fontPrimary);
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  font-weight: 600;
}

.SidebarItemWrapper .value {
  color: #5893e0;
  margin: 0;
}

.SidebarItemWrapper .key {
  color: #f4cf6f;
  margin: 0;
}

.SidebarItemWrapper .json-wrapper {
  color: #5893e0;
  overflow: hidden;
}

.SidebarItemWrapper .button {
  color: #5893e0;
  cursor: pointer;
  float: right;
  font-size: 14px;
  margin-right: 2.5%;
}

.SidebarItemWrapper .button:active {
  color: #8bace0;
}

.SidebarItemWrapper pre.prettyprint {
  background: none;
  box-sizing: border-box;
  margin: 0;
  font-size: 12px;
  width: max-content;
}

.codeWrapper {
  overflow: auto;
  margin: 15px 0;
}

.SidebarItemWrapper .showPayload {
  text-align: center;
}

.SidebarItemWrapper .timestamp {
  font-family: var(--fontPrimary);
  color: var(--slateLighter);
  text-align: right;
  font-size: 13px;
  line-height: 18px;
}
