@import '../../../../styles/colors.css';

pre.prettyprint {
  padding: 0 !important;
}

.LoggerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.LoggerContainer .custom_scroll {
  background: white;
}

.LoggerContainer .itemWrapper {
  flex: 1;
}
