.Drop-wrapper {
  justify-content: center;
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

.Drop {
  background: var(--white);
  border: 3px dashed var(--slateLighter);
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  background-color: white;
  margin: 0 auto;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

.Drop-encrypted {
  background-color: var(--slateLightest);
  border-style: solid;
  border-color: var(--slatePrimary);
}

.Drop-plain {
  border-style: solid;
  border-color: var(--slateLighter);
}

.Drop-icon {
  fill: var(--slatePrimary);
}

.Drop-text {
  color: var(--slateDarkest);
  font: var(--fSizeBody) / var(--lhBody) var(--fontPrimary);
}
.Drop-text p {
  margin: var(--lhBody) auto;
  width: 66%;
}
.Drop-text .secondary {
  font: var(--fSizeSmall) / var(--lhSmall) var(--fontPrimary);
  display: block;
}
.Drop-text .dragging-instructions {
  display: none;
  color: var(--blueDarker);
  font: 700 var(--fSize-heading-l) / var(--lh-heading-l) var(--fontSecondary);
}

.Drop-hover {
  border: 3px dashed var(--blueDarker);
}
.Drop-hover .Drop-text .default-instructions {
  display: none;
}
.Drop-hover .Drop-text .dragging-instructions {
  display: block;
}

.Drop-UploadButton {
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  font-size: 1rem;
  font-family: var(--fontPrimary);
  font-weight: bold;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  padding: 12px 23px;
  color: var(--white);
  background-color: var(--blueDarker);
  border-color: var(--blueDarker);
}

.Drop-UploadButton:hover,
.Drop-UploadButton:focus {
  background-color: var(--blueDarkest);
  border-color: var(--blueDarkest);
  box-shadow: 0 1px 4px 1px var(--blueShadow);
}

.Drop-UploadButton:active {
  background-color: var(--slatePrimary);
  border-color: var(--slatePrimary);
  box-shadow: 0 1px 4px 1px var(--slateShadow);
}

.Drop-UploadButton-label {
  color: #fff;
  font-family: var(--fontPrimary);
  padding: 6px 12px;
}

.Drop-UploadButton input[type='file'] {
  display: none;
}
