.Drop-wrapper {
  justify-content: center;
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

.Drop {
  background: #fff;
  border: 3px dashed var(--slateLighter);
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
  border: 4px dashed #707070;
  background-repeat: no-repeat;
  border-radius: 25px;
  background-color: white;
  margin: 0 auto;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Drop-icon {
  fill: var(--slatePrimary);
}

.Drop-text {
  color: black;
  font-size: x-large;
}

.Drop-hover {
  border: 3px dashed var(--blueDarker);
}
.Drop-UploadButton-label {
  color: #fff;
  font-family: var(--fontPrimary);
  padding: 6px 12px;
}
#dropzone .Drop-UploadButton {
  pointer-events: all;
}

.Drop-UploadButton input[type='file'] {
  display: none;
}
