.Drop-wrapper {
  justify-content: center;
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

.Drop {
  background: var(--white);
  border: 3px dashed var(--slateLighter);
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
  border: 4px dashed #707070;
  background-repeat: no-repeat;
  border-radius: 25px;
  background-color: white;
  margin: 0 auto;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Drop-encrypted {
  background-color: var(--slateLightest);
  border-style: solid;
}

.Drop-plain {
  border-style: solid;
}

.Drop-icon {
  fill: var(--slatePrimary);
}

.Drop-text {
  color: black;
  font-size: x-large;
}

.Drop-hover {
  border: 3px dashed var(--blueDarker);
}

.Drop-UploadButton {
  border: 1px solid;
  border-radius: 3px;
  font-size: 1rem;
  font-family: 'Open Sans';
  font-weight: bold;
  margin: 0.5rem;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  padding: 12px 23px;
  color: var(--white);
  background-color: var(--blueDarker);
  border-color: var(--blueDarker);
}

.Drop-UploadButton:hover,
.Drop-UploadButton:focus {
  background-color: var(--blueDarkest);
  border-color: var(--blueDarkest);
  box-shadow: 0 2px 4px 0 rgba(var(--black), 0.29);
}

.Drop-UploadButton:active {
  background-color: var(--slatePrimary);
  border-color: var(--slatePrimary);
  box-shadow: 0 2px 4px 0 rgba(var(--black), 0.29);
}

.Drop-UploadButton-label {
  color: #fff;
  font-family: var(--fontPrimary);
  padding: 6px 12px;
}

.Drop-UploadButton input[type='file'] {
  display: none;
}
