:root {
  /* Purple */
  --purpleLightest: #f1effd;
  --purpleLighter: #ccc3fa;
  --purplePrimary: #7e6ade;
  --purpleDarker: #4b3e8a;
  --purpleDarkest: #241c48;

  /* Blue */
  --blueLightest: #deeeff;
  --blueLighter: #b2d6ff;
  --bluePrimary: #4585ff;
  --blueDarker: #174eb6;
  --blueDarkest: #001e4a;

  /* Green */
  --greenLightest: #e8f5e4;
  --greenLighter: #bae5b3;
  --greenPrimary: #75b749;
  --greenDarker: #307a21;
  --greenDarkest: #1b4712;

  /* Yellow */
  --yellowLightest: #f9f2d8;
  --yellowLighter: #fad674;
  --yellowPrimary: #f6b816;
  --yellowDarker: #b28207;
  --yellowDarkest: #5e4400;

  /* Orange */
  --orangeLightest: #ffe8d1;
  --orangeLighter: #ffbc76;
  --orangePrimary: #ff8200;
  --orangeDarker: #d66400;
  --orangeDarkest: #763700;

  /* Red */
  --redLightest: #ffe9e9;
  --redLighter: #ff8f8e;
  --redPrimary: #e70d12;
  --redDarker: #a70a0e;
  --redDarkest: #6a0709;

  /* Slate */
  --slateLightest: #f3f5f7;
  --slateLighter: #c6cbd4;
  --slatePrimary: #777e8c;
  --slateDarker: #515864;
  --slateDarkest: #2d323b;

  /* Black and White */
  --black: #000;
  --white: #fff;

  /* Legacy palette */
  --globalMenuSelected: #fafbfb;

  /* Blues */
  --matisse: #1b66aa;
  --highlightLightBlue: #f1f6ff;

  /* Grays */
  --mineShaft: #373737;
  --boulder: #767676;
  --silverChalice: #a5a5a5;
  --alto: #d2d2d2;
  --wildSand: #f5f5f5;

  /* Greens */
  --jade: #008550;
  --green: #6ecb98;

  /* Reds */
  --warningRed: #dd3f39;
  --redHover: #d20c17;

  /* Yellow */
  --lightYellow: #fff2cc;
  --cautionYellow: #fdb81e;
  --cautionOrange: #ff9e16;
}
