.Policy {
  color: var(--slateDarkest);
  display: flex;
  flex-direction: column;
  font-family: var(--fontPrimary);
  font-size: 13px;
  line-height: 18px;
  margin: 0 20px;
}

.Policy-rule {
  height: 1px;
  background: #dce0e5;
  border: 0;
  margin-left: 0;
  margin-right: 0;
}

.Policy-buttons {
  margin-left: 34px;
  text-align: left;
}
.Policy-buttons button {
  margin-left: 0;
}

.Section-disabled {
  opacity: 0.5;
}
