.Loading {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.Loading:after {
  content: ' ';
  display: block;
  width: 31px;
  height: 31px;
  margin: 1px;
  border-radius: 75%;
  border: 2px solid #fff;
  border-color: var(--blueDarker) var(--blueDarker) var(--blueDarker) transparent;
  animation: Loading 1.2s linear infinite;
}
@keyframes Loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
