@import '../../styles/colors.css';

.headerContainer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 55px;
  padding: 0 36px 0 24px;
  background: var(--blueDarkest);
}

.headerLogo {
  fill: var(--white);
}

.headerTitle {
  color: var(--white);
  font-family: var(--fontSecondary);
  font-size: 1.1rem;
  font-weight: 600;
}

.delimiter {
  height: 28px;
  margin: 0 11px;
  width: 1px;
  background: var(--white);
}

.githubButton {
  height: 30px;
  width: auto;
  border: 1px solid var(--white);
  border-radius: 3px;
  background: none;
  padding: 0 7px;
}

.githubButton svg,
.githubButton img {
  fill: white;
  height: 24px;
  width: auto;
}

.signIn {
  font-size: 13px;
  line-height: 18px;
  flex-grow: 1;
  text-align: right;
  margin-left: 10px;
}

.headerAuth {
  font-size: 13px;
  line-height: 18px;
  color: white;
  text-align: right;
  flex-grow: 1;
}
