.policy-error-modal {
  text-align: left;
}

.policy-error-modal span {
  font-size: 17px;
}

.policy-error-modal .button {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
}

.policy-error-modal-title {
  margin-top: 0;
  margin-bottom: 20px;
}
