.SidebarContainer {
  height: 100%;
  width: 270px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
  background: #282e37;;
}

.SidebarContainer .collapseContainer {
  flex: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.SidebarContainer .collapse{
  color: #5893e0;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

.SidebarContainer .json {
  color: white;
  cursor: pointer;
}

.SidebarContainer .itemWrapper {
  flex: 1;
}
