
.Drop {
  font-size: 14px;
  height: 300px;
  width: 500px;
  text-align: center;
  border: 4px dashed #707070;
  background-repeat: no-repeat;
  border-radius: 25px;
  background-color: white;
  margin: 0 auto;
}

.Drop-box {
  margin-top: 20%;
}

.Drop-icon {
  fill: #979797;
}

.Drop-text {
  color: black;
  font-size: x-large;
}

.Drop-hover {
  background-color: darkgray;
}

#dropzone * {
  pointer-events: none;
}
