.Filename {
  color: var(--blueDarkest);
  /* TODO(dmihalcik) on my laptop anyway, raleway has no weights */
  font-family: var(--fontSecondary);
  font-size: 25px;
  line-height: 30px;
  font-weight: lighter;
  padding-left: 48px;
  text-align: left;
}

.Filename-tdf {
  font-weight: bold;
}
