.Filename {
  color: var(--blueDarkest);
  font-family: var(--fontSecondary);
  font-size: 25px;
  line-height: 30px;
  font-weight: lighter;
  text-align: left;
  display: flex;
  margin-bottom: 12px;
  margin-top: 0;
}

.Filename-original {
  text-overflow: ellipsis;
  max-width: 370px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.Filename-tdf {
  font-weight: bold;
}

.Filename-Replace {
  color: var(--blueDarker);
  cursor: pointer;
  display: inline;
  font-family: var(--fontPrimary);
  font-size: 1rem;
  outline: none;
  padding-left: 23px;
  text-decoration: underline;
}

.Filename-Replace:hover,
.Filename-Replace:focus {
  color: var(--blueDarkest);
}

.Filename-Replace input[type='file'] {
  display: none;
}

.Filename .RevokeAll {
  position: absolute;
  right: 20px;
}
