.AuthSelect-button {
  font-family: 'Raleway';
  background: white;
  padding: 0 8px;
  border: 1px solid darkgray;
  font-size: 15px;
  display: flex;
  min-width: 284px;
  min-height: 50px;
  align-items: center;
  margin: 24px auto;
}

.AuthSelect-button:hover {
  background: #EEE;
  cursor: pointer;
}
.AuthSelect-button:focus {
  background: #FFE;
}

.AuthSelect-sep {
  border-left: 1px solid darkgray;
  flex: 0;
  align-self: stretch;
  margin: -8px 8px;
}

.AuthSelect-ico {
  width: 32px;
  height: 32px;
}

.AuthSelect-title {
  text-align: center;
  flex: 1 1 auto;
}

.AuthSelect-blue {
  color: blue;
  font-weight: bolder;
}

.AuthSelect-red {
  color: red;
  font-weight: bold;
}

.AuthSelect-email {
  width: 295px;
  height: 50px;
  margin: -35px 0 35px 0;
  padding-left:10px;
}
