@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:200,400,600,700&display=swap');
@import './styles/text.css';

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--white);
  margin: 0;
  font: normal normal 400 var(--fSizeBody) / var(--lhBody) var(--fontPrimary);
}

h3 {
  color: var(--blueDarkest);
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

#root {
  height: 100%;
}

main {
  display: flex;
  align-items: top;
  justify-content: center;
  height: calc(100vh - 55px);
  background: #fff;
  max-width: 1280px;
  margin: auto;
}

code {
  font-family: var(--fontCode);
}

h1 {
  line-height: 30px;
  font-size: 20px;
  color: #7e7d7c;
  text-align: center;
  background: #f7f7f7;
}

h2 {
  line-height: 30px;
  font-size: 15px;
  color: #7e7d7c;
}

a {
  color: var(--blueLighter);
}

input {
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  border-color: #6e8095;
  outline: none;
}

input[type='text'],
input[type='email'] {
  height: 36px;
  padding: 9px 13px;
  color: var(--slateDarkest);
  font: var(--fSizeSmall) / var(--lhSmall) var(--fontPrimary);
  background-color: var(--white);
  border: 1px solid var(--slateDarker);
  border-radius: 3px;
}
input[type='text']:hover,
input[type='email']:hover {
  border-color: var(--blueDarkest);
  box-shadow: 0 1px 4px 1px var(--blueShadow);
}
input[type='text']:focus,
input[type='email']:focus {
  background-color: var(--white) !important;
  border-color: var(--blueDarkest);
  box-shadow: 0 1px 4px 1px var(--blueShadow);
  color: var(--slateDarkest);
}
input:invalid {
  border: 1px solid var(--redPrimary) !important;
}
input:invalid:focus {
  background-color: var(--redLightest) !important;
}

/* Make the auth modal a little wider so that buttons don't take up 2 lines */
.virtru-auth {
  width: 360px !important;
}
