@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background: #F3F4F7;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}

h1 {
  line-height: 30px;
  font-size: 20px;
  color: #7E7D7C;
  text-align: center;
  background: #f7f7f7;
}

h2 {
  line-height: 30px;
  font-size: 15px;
  color: #7E7D7C;
}

a {
  text-decoration: none !important;
}

input {
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
    border-color:#6e8095;
    outline: none;
}

input[type="text"]
{
  font-family: 'Raleway';
  font-size:17px;
}
