.DocumentDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.DocumentDetails > .Policy {
  margin-left: 48px;
}

.DocumentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 400px);
  margin: 0 50px;
  height: calc(100% - 50px);
  flex: 1;
  position: relative;
}

.DocumentFooter {
  height: 72px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.DocumentFooter.center {
  justify-content: center;
}

.DocumentFooterButtons {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.file-icon {
  vertical-align: middle;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}
