.DocumentDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.DocumentDetails > .Policy {
  margin-left: 48px;
}

.DocumentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 400px);
  margin: 0 50px;
  height: calc(100% - 50px);
  flex: 1;
}

.DocumentFooter {
  height: 72px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
