.DocumentDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.DocumentDetails > .Policy {
  margin-left: 48px;
}

.DocumentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 600px;
  max-width: 600px;
  min-height: 600px;
  max-height: 800px;
  margin: 24px 48px;
  flex: 1;
  position: relative;
}

.DocumentFooter {
  height: 72px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  margin-top: 24px;
}

.DocumentFooter.center {
  justify-content: center;
}

.DocumentFooterButtons {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.file-icon {
  vertical-align: middle;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}
