.Access > ol {
  margin: 0;
  max-height: 126px;
  overflow-y: auto;
}

.Grant,
.NewGrant {
  margin-bottom: 12px;
}

.Grant {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.Grant-user {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 6px;
}

.Grant-owner {
  line-height: 36px;
  min-width: 64px;
}
.Grant-reader {
  background: #fff;
  border: 1px solid var(--redDarker);
  border-radius: 3px;
  min-width: 64px;
}

.NewGrant {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  text-align: left;
}

.NewGrant input[type='email'] {
  border: 1px solid var(--slateDarker);
  border-radius: 3px;
  background-color: #fff;
  width: 100%;
  min-width: 256px;
}

.NewGrant input[type='email'],
.Access input[type='submit'] {
  min-height: 36px;
}
.Grant-owner,
.NewGrant .button,
.Access input[type='submit'] {
  font: var(--fSizeSmall) / var(--lhSmall) var(--fontPrimary);
  min-width: 94px;
  margin-left: 24px;
}

.Access input[type='submit'] {
  border: 1px solid var(--slateDarker);
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}
.Access input[type='submit']:hover,
.Access input[type='submit']:focus {
  box-shadow: 0 1px 4px 1px var(--blueShadow);
  border-color: var(--blueDarkest);
  color: var(--blueDarkest);
  outline: none;
}
.Access input[type='submit']:active {
  box-shadow: 0 1px 4px 1px var(--slateShadow);
  color: var(--white);
  background-color: var(--slatePrimary);
  border-color: var(--slatePrimary);
}
.Access input[type='submit']:disabled {
  box-shadow: none;
  background-color: var(--slateLighter);
  border-color: var(--slateLighter);
  color: var(--white);
  cursor: default;
}

.Grant input[type='submit'],
.Grant input[type='submit']:hover,
.Grant input[type='submit']:focus {
  color: var(--redDarker);
}
.Grant input[type='submit']:hover,
.Grant input[type='submit']:focus {
  border-color: var(--redDarker);
  box-shadow: 0 1px 4px 1px var(--slateShadow);
}
.Grant input[type='submit']:active {
  background-color: var(--redDarker);
  color: var(--white);
}
.NewGrant input[type='submit'] {
  color: var(--blueDarker);
  font-weight: bold;
}

.field-with-description {
  flex-grow: 1;
}

.field-with-description input:valid + .field-description {
  display: block;
}
.field-with-description input:valid ~ .field-error {
  display: none;
}
.field-with-description input:invalid + .field-description {
  display: none;
}
.field-with-description input:invalid ~ .field-error {
  display: block;
}

.field-with-description .field-description {
  color: var(--slateDarker);
}
.field-with-description .icon {
  margin-top: 6px;
  margin-right: 3px;
}
.field-with-description .field-error {
  color: var(--redDarker);
}
.field-with-description .field-error .icon path {
  fill: var(--redDarker);
}
